@use '../../../styles/variables' as vars;

.dataset-card {
  border: vars.$border solid vars.$grey03;
  border-radius: vars.$radius07;
  background-color: vars.$white;
  min-width: 0;
  height: 236px;

  h6 {
    padding: 0 16px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    border-bottom: vars.$border solid vars.$grey03;

    &:last-child {
      border-bottom: none;
    }

    font-size: 14px;
    color: #333;
  }
}
