$font-family-primary: 'Poppins', sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font Sizes
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 22px;

// Line Heights
$line-height-normal: 1.5;

// Colours
$primary-blue: #1678D1;
$secondary-blue: #99C9F8;

$red: #EB4528;
$green: #75BB34;
$white: #FFFFFF;
$black: #1D242D;

$background: #F2F5F9;

$grey01: #F4F4F5;
$grey02: #EFEFF0;
$grey03: #DBDCDD;
$grey04: #C7C8CB;
$grey05: #B2B5B8;
$grey06: #626973;

//borders
$border: 0.5px;
$radius07: 7px;
$radius05: 5px;



