.layout-container {
  display: flex;
  gap: 20px;
  margin: 20px;

  &__main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__cta-card {
      padding: 16px;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);

      &__image-container {
        position: relative;
        width: 100%;
        height: 92px;

        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover; /* Ensures the image covers the container without distortion */
        }
      }

    }

    &__datasets {
      padding: 16px;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0px 3px 14px 2px rgba(0, 0, 0, 0.12);

     &__simple-cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      &__simple-card {
        flex: 1; /* Each card takes an equal portion */
        margin: 0 10px;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          border: 3px solid #007bff; /* Bold border for selected card */
          background-color: #f0f0f0; /* Light grey background when selected */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }


      }
     }

     &__heading {

     }
    }
  }

  &__side {
    flex: 1;
    min-width: 0;
  }
}
