@use '../../../styles/variables' as vars;

.table-container {
  height: 256px;
  overflow-y: auto;
  border: vars.$border solid vars.$grey03;
  border-radius: vars.$radius07;
  table {
    width: 100%;
    border-collapse: collapse;
  }

  button {
    border-radius: vars.$radius05;
    border: vars.$border solid vars.$grey03;
  }

  th {
    position: sticky;
    top: 0;
    background: vars.$grey02;
    border-bottom: vars.$border solid vars.$grey03;
    z-index: 2;
  }

  td {
    border-bottom: vars.$border solid vars.$grey03;
  }


  .table-row {
    cursor: pointer;
  }

  .table-row:hover {
    background-color: vars.$grey01;
  }

  .clickable-row:hover {
    background-color: #f5f5f5;
  }
}






