@use '../../../styles/variables' as vars;

.table-container {
  height: 256px;
  overflow-y: auto;
  border: vars.$border solid vars.$grey03;
  border-radius: vars.$radius07;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    position: sticky;
    top: 0;
    background: vars.$grey02;
    border-bottom: vars.$border solid vars.$grey03;
    z-index: 2;
  }

  td {
    border-bottom: vars.$border solid vars.$grey03;
  }

  .table-row {
    cursor: pointer;
  }

  .table-row:hover {
    background-color: vars.$grey01;
  }

  button {
    display: inline-flex;
    align-items: center;
    width: 61px;
    height: 24px;
    background-color: vars.$grey01;
    border-radius: vars.$radius05;
    border: vars.$border solid vars.$grey03;
    cursor: pointer;
  }

  .button-text {
    color:  vars.$black
  }
}






