@use '../../../styles/variables' as vars;

.layout-container {
  display: flex;
  gap: 16px;

  &__main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__datasets {
      border-radius: vars.$radius05;
      border: vars.$border solid vars.$grey03;
      min-height: 396px;
      padding: 10px;
      box-shadow: 0px 2px 8px 0px rgba(30, 29, 89, 0.05);
      background-color: vars.$white;

     &__status-cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
     }

     &__heading {
      margin: 5px 2px 10px;
     }
    }
  }

  &__side {
    flex: 1;
  }
}


