@use '../../../styles/variables' as vars;
.status-card {
  font-size: vars.$font-size-md;
  font-weight: vars.$font-weight-semibold;
  color: vars.$black;
  flex: 1;
  margin: 0 10px;
  width: 300px;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    border: 0.5px solid vars.$primary-blue;
    background-color: vars.$background;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
