@use '../../../styles/variables' as vars;
.status-card {
  font-size: vars.$font-size-md;
  font-weight: vars.$font-weight-semibold;
  color: vars.$black;
  flex: 1;
  margin: 0 10px;
  width: 320px;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    border: 0.5px solid vars.$primary-blue;
    background-color: vars.$background;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
  .green-icon {
    color: vars.$green;
  }

  .status-count {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  .percentage-text {
    font-size: vars.$font-size-xs;
  }

  .red-icon {
    color: vars.$red;
  }
}
