@use './styles/variables.scss' as vars;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: vars.$font-family-primary;
}

h2 {
  font-family: vars.$font-family-primary;
  font-size: vars.$font-size-lg;
  font-weight: vars.$font-weight-bold;
  line-height: vars.$line-height-normal;
}

h6 {
  font-family: vars.$font-family-primary;
  font-size: vars.$font-size-sm;
  font-weight: vars.$font-weight-semibold;
  line-height: vars.$line-height-normal;
}

p {
  font-family: vars.$font-family-primary;
  font-size: vars.$font-size-md;
  font-weight: vars.$font-weight-regular;
  line-height: vars.$line-height-normal;
}


mat-icon {
  font-size: vars.$font-size-md !important;
  width: auto !important;
  height: auto !important;
}

.mat-mdc-cell {
  border-bottom: vars.$border solid vars.$grey03 !important;
}

